header
	.logo.vMiddle
		button(
			data-expand="aside",
			data-expand-noscroll="true"
		)
		a(href="/"): img(src="/assets/images/logo.png", alt="logo")

	form.top-search
		input(
			type="text",
			name="s",
			placeholder="Поиск (например: Молоко, Ресторан, Скидка)"
		)
		//- button.search-btn(type="button")

	.user-area
		#user-block.profile-btn.header-btn-black(data-expand="user-block")
			.title Иванов Иван
			ul.dropdown-menu.align-right
				li: a(href="#") Мои заказы
				li: a(href="#") Профиль
				li: a(href="#") Призы
				li: a(href="#") Напоминания
				li.divider
				li: a(href="#") Выход
		.basket-btn.header-btn-yellow(data-modal="basket")
		//- .basket-btn.full.header-btn-yellow(data-modal="basket")
