extends ../layouts/default.jade
block content
	main
		block breads
			- items = ['Главная', 'Доставка еды', 'Вкусняшки']
			.breads
				ul
					+breads(items)
		.wrap
			.nav-tree.xl-2-9.md-1-1
				.checkbox-group.xl-1-1
					span.nav-title(
						data-expand="catalogFilter1",
						data-expand-mode="private"
					) Категория
					ul#catalogFilter1.wrap.xl-1.md-3.sm-2.xxs-1
						a.clearFilter(href="#") Очистить
						- var categoryOptions = ['Мясные продукты', 'Замороженные продукты', 'Молочные продукты', 'Рыба', 'Кондитерские изделия', 'Хлебобулочные изделия', 'Овощи', 'фрукты','Товары для дома', 'Косметика и гигиена', 'Бытовая техника и электроника', 'Всё для детей', 'Бакалея', 'Напитки', 'Подарочные наборы']
						each item in categoryOptions
							li.checkbox: label
								input(type="checkbox")
								div= item
				.checkbox-group.xl-1-1
					span.nav-title(
						data-expand="catalogFilter2",
						data-expand-mode="private"
					) Доп. фильтр
					ul#catalogFilter2.wrap.xl-1.md-3.sm-2.xxs-1
						a.clearFilter(href="#") Очистить
						- var addFilterOptions = ['Вегитарианское', 'Разноцветное', 'Вкусное', 'Черное', 'Красное', 'Ароматное', 'Горячее']
						each item in addFilterOptions
							li.checkbox: label
								input(type="checkbox")
								div= item

			.xl-7-9.md-1-1
				h2.caps-text Магазины
				.cat
					- for(var i=0; i<4; i++)
						.cat-item.shop-info.wrap
							.shop-logo.xl-2-9.md-3-11.xxs-hidden
								img(src="/assets/images/shop_logo.png", alt="shop logotype")
							.shop-data.xl-7-9.md-8-11.xxs-1-1
								h1.shop-name Магазин на диване
								.shop-tagline Японская и китайская кухня
								table.shop-args
									tr
										th 250 руб
										th 110 руб
										th 60 минут
									tr
										td мин сумма заказа
										td доставка
										td среднее время
								.wrap
									.shop-desc.xl-6-11.md-1-1
										| Минимальная сумма заказа в Кировский и Тракторозаводской район - 1200 руб.,
										| Красноармейский районы - 2000 руб. Напитки не входят в минимальную сумму заказа.
									.buttons.xl-right.xl-5-11.md-1-1.md-left
										button.btn.btn-green Перейти
				-items = ['1', '2', '3']
				+pagination(items, 2)